.Success {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 14vh;
}

.Success img {
    width: 300px;
}

.Success h1 {
    margin: -40px;
    color: darkgray;
    font-weight: normal;
    font-size: 40px;
}